<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/for_flask.css">
    </head>
    <body>
        <form method="GET">
            <h1 class="nadpis">Recenze</h1>
            <label for="recenze">Recenze: </label><input
                name="recenze"
                id="recenze"
                type="text"
                autocomplete="off"
                placeholder="Napiš recenzi"
                autofocus />
                <!-- Hodnocení: Chybí tlačítko pro odeslání odpovědi -->
            <p>Recenze uživatele : {{ jinja }}</p> 
            <!-- Místo tří teček by se mělo doplnit recenzi, kterou odeslal uživatel ve formuláři -->
    </body>
</html>
